/* Import Google font E - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #ffffff;
    --icon-color: #acacbe;
    --icon-hover-bg: #5b5e71;
    --btn-color-success: #083107;
    --btn-color-success-hover: #0c480b;
    --placeholder-color: #cccccc;
    --outgoing-chat-bg: #343541;
    --incoming-chat-bg: #35353f;
    --outgoing-chat-border: #343541;
    --incoming-chat-border: #444654;
    --nav-bg: #ffffff;
    --nav-text-color: #343541;
}

.light-mode {
    --text-color: #343541;
    --icon-color: #a9a9bc;
    --icon-hover-bg: #f1f1f3;
    --btn-color-success: #083107;
    --btn-color-success-hover: #0c480b;
    --placeholder-color: #9f9f9f;
    --outgoing-chat-bg: #ffffff;
    --incoming-chat-bg: #f7f7f8;
    --outgoing-chat-border: #ffffff;
    --incoming-chat-border: #d9d9e3;
    --nav-bg: #444654;
    --nav-text-color: #ffffff;
}

body {
    background-color: var(--outgoing-chat-bg)!important;
}

.nav-container .nav-content {
    background: var(--nav-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-container .nav-content .nav-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0;
    margin-left: 1rem;
}

.nav-container .nav-content .nav-buttons {
    margin-right: 1rem;
}

.nav-container .nav-content .nav-buttons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-container .nav-content .nav-buttons ul li {
    margin: 0 0.5rem;
}

.nav-container .nav-content .nav-buttons ul li a {
    text-decoration: none;
}

.nav-container .nav-content .nav-title h1 {
    color: var(--nav-text-color);
}

.chat-container {
    max-height: 100vh;
    padding-bottom: 150px;
    overflow-y: auto;
}

:where(.chat-container, textarea)::-webkit-scrollbar {
    width: 6px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-track {
    background: var(--incoming-chat-bg);
    border-radius: 25px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
    background: var(--icon-color);
    border-radius: 25px;
}

.chat-container .chat {
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.chat-container .chat.outgoing {
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat.incoming {
    background: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}

.chat .chat-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.default-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding: 0 10px;
}

.default-text img {
    max-height: 6rem;

}

.default-text h1 {
    font-size: 3.3rem;
    color: var(--text-color);
}

.default-text p {
    font-size: 1.1rem;
    margin-top: 10px;
    color: var(--text-color);
}

.chat .chat-content span.copy-btn {
    font-size: 1.03rem;
    color: var(--icon-color);
    visibility: hidden;
}

.chat:hover .chat-content:not(:has(.typing-animation, .error)) span.copy-btn {
    visibility: visible;
}

.chat .chat-details {
    display: flex;
    align-items: center;
}


.chat .chat-details p {
    font-size: 1.05rem;
    padding: 0 50px 0 25px;
}

.chat .chat-details div pre code.hljs {
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .6rem;
}

.chat-container .chat-details img {
    width: 35px;
    height: 35px;
    align-self: flex-start;
    object-fit: cover;
    border-radius: 2px;
}

span.material-symbols-outlined {
    user-select: none;
    cursor: pointer;
}

.typing-animation {
    display: inline-flex;
    padding-left: 25px;
}

.typing-animation .typing-dot {
    height: 7px;
    width: 7px;
    opacity: 0.7;
    margin: 0 3px;
    border-radius: 50%;
    background: var(--text-color);
    animation: animateDotes 1.5s var(--delay) ease-in-out infinite;
}

@keyframes animateDotes {
    0%,
    44% {
        transform: translateY(0px);
    }
    22% {
        opacity: 0.4;
        transform: translateY(-6px);
    }
    44% {
        opacity: 0.2;
    }
}

.typing-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}

.typing-container .typing-content {
    max-width: 950px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.typing-content .typing-textarea {
    width: 100%;
    display: flex;
    position: relative;
}

.typing-textarea textarea {
    width: 100%;
    height: 55px;
    max-height: 250px;
    overflow-y: auto;
    bottom: none;
    resize: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 15px 45px 15px 20px;
    color: var(--text-color);
    background: var(--incoming-chat-bg);
    outline: 1px solid var(--incoming-chat-border);
}

.typing-textarea textarea::placeholder {
    color: var(--placeholder-color);
}

.typing-textarea span {
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.typing-textarea textarea:valid ~ span {
    visibility: visible;
}

.typing-content span {
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}

.typing-controls {
    display: flex;
}

.typing-controls span {
    margin-left: 7px;
    font-size: 1.4rem;
    border-radius: 4px;
    background: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}

/*UTILs*/
.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.button:hover {
    transform: translateY(-4px);
}

.button.button-secondary {
    background-color: var(--icon-color);
    color: #fff;
    border: 1px solid var(--icon-hover-bg);
}

.button.button-primary {
    border: none;
    background-color: var(--btn-color-success);
    color: #fff;
}

.button.button-secondary:hover {
    background-color: var(--icon-hover-bg);
    color: var(--icon-color);
}

.button.button-primary:hover {
    background-color: var(--btn-color-success-hover);
    color: var(--icon-color);
}

/*Sign in Modal*/
/* Modal Styles */
.modalContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modalContent {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 720px;
    height: 600px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#paymentModal .modalContent {
    max-width: 1046px;
    height: 656px;
}


.left-side {
    width: 30%;
    height: 100%;
    position: relative;
    background-image: url("/img/signin-cover.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.left-side,
.left-side::before {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.left-side::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.4);
}

#paymentModal .modalContent .left-side::before {
    display: none;
}

.left-side img {
    width: 100%;
    height: 100%;
}

#paymentModal .modalContent .left-side {
    background: none;
    display: flex;
    flex-direction: column;
    padding: .5rem 0 .5rem .5rem;
}
#paymentModal .modalContent .left-side .bottom{
    display: flex;
    flex-direction: column;
}

#paymentModal .modalContent .left-side .top {
    background: #000000;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#paymentModal .modalContent .left-side .top h1{
    color: #F1E15F;
}
#paymentModal .modalContent .left-side .top p{
    color: #C3C3C3;
    margin-top: 1rem;
}

#paymentModal .modalContent .left-side .bottom {
    background: #F1F2F0;
    height: 50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#paymentModal .modalContent .left-side {
    width: 40%;
}

#paymentModal .modalContent .right-side {
    width: 60%;
}
#paymentModal .modalContent .right-side h1{
    font-size: 1rem;
    text-align: left;
    margin-bottom: 2rem;
}
.card-icons{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}
.card-icons img{
    width: 12rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.card-icons img:hover{
    transform: scale(1.1);
}
.card-icons img.active{
    transform: scale(1.1);
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    border-radius: 15%;
}

.right-side {
    width: 70%;
    padding: 0 3rem;
}

.right-side h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.google-signin {
    background-color: #ffffff;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-signin span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.google-signin span img {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
}

.login-btn {
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 1rem 0;
}

.pay-btn {
    background-color: #1C2F12;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 1rem 0;
}

.btn-100 {
    width: 100%;
}

.modalContent form input {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.2rem;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
    color: #4285F4;
    cursor: pointer;
}

/* Show/hide modal animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: #999999;
    cursor: pointer;
}

.closeModal:hover {
    color: #666666;
}

.separator {
    text-align: center;
    margin: 2rem 0;
    color: #999999;
}
#paymentModal .modalContent .right-side .separator{
    margin: 0 ;
}

.separator::before,
.separator::after {
    content: "";
    display: inline-block;
    width: 10%;
    height: 1px;
    background-color: #999999;
    vertical-align: middle;
}

.separator::before {
    margin-right: 10px;
}

.separator::after {
    margin-left: 10px;
}

.chat-response-div p:first-child {
    margin-bottom: 1rem;
}

.plans {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 1rem;
    transform: translateY(-3.5rem);
    z-index: 1;
}

.plans .plan input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.plans .plan {
    cursor: pointer;
    width: 90%;
    margin: 0 1rem;
    text-align: center;
}

.plans .plan:first-child{
    margin-bottom: .5rem;
}

.plans .plan .plan-details span {
    font-size: 1.5rem;
    line-height: 18px;
}

.plans .plan .plan-content:hover {
    -webkit-box-shadow: 0px 3px 5px 0px #e8e8e8;
    box-shadow: 0px 3px 5px 0px #e8e8e8;
}
.plans .plan .plan-content{
    padding: 1.5rem 0;
    box-shadow: 0px 3px 5px 0px #e8e8e8;
    border: 1px solid var(--icon-color);
    border-radius: 1.6rem;
    background: #FFFFFF;
}

.plans .plan input[type="radio"]:checked + .plan-content {
    background: #15300D;
    border-color: #15300D;
    color: #F1E15F;
    -webkit-transition: ease-in 0.1s;
    -o-transition: ease-in 0.1s;
    transition: ease-in 0.1s;
}
.feature-list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-list ul li{
    margin-bottom: .3rem;
    display: flex;
    align-items: center;
}
.feature-list ul li span{
    display: inline-block;
    margin-right: .2rem;
    color: green;
}
#card-element{
    margin: 3rem 0;
}
#card-holder-name{
    margin-top: 1rem;
}
.arrow-btn-holder{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
}
.arrow-btn-holder.stripe{
    justify-content: flex-start;
    margin-bottom: 2rem;
}
.arrow-btn-holder button{
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background: #0c480b;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s all ease-in-out;
}
.arrow-btn-holder button:hover{
    background: #0c480b;
    color: white;
    transform: scale(1.1);
}


#modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 30px;
    opacity: 0;
    transition: 0.5s ease all;
    z-index: 99999;
}
#modal-wrapper.active {
    opacity: 1;
}
#modal-wrapper #modal-confirmation {
    margin-top: 0;
    opacity: 1;
}

#modal-confirmation {
    display: inline-block;
    margin-top: -30px;
    opacity: 0;
    max-width: 400px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    text-align: left;
    transition: 0.5s ease all;
}

#modal-header {
    position: relative;
    background: #ff6b6b;
    padding: 15px;
    color: #fff;
    text-align: left;
}
#modal-header h3 {
    font-weight: 300;
    margin: 0;
}

#modal-close {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 1.5em;
    cursor: pointer;
    color: #bd3d3d;
}
#modal-close:hover {
     color: #fff;
 }

#modal-content {
    padding: 30px 15px;
}
#modal-content p {
    margin: 0;
    color: #61686e;
}

#modal-buttons {
    padding: 0 15px 15px 15px;
    text-align: right;
}

#modal-button-no {
    border: 2px solid #98a1a9;
    padding: 10px 30px;
    background: #fff;
    color: #98a1a9;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
}
#modal-button-no:hover {
     background: #98a1a9;
     color: #fff;
 }

#modal-button-yes {
    border: 2px solid #ff6b6b;
    padding: 10px 50px;
    background: #ff6b6b;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
    margin-left: 10px;
}
#modal-button-yes:hover {
     border: 2px solid #1C2F12;
     background: #4CAF50;
 }

