<!DOCTYPE html>
<html lang="en" dir="1tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content=" " width="device-width" , initial-scale="1.0"/>
    <title>betGpt | Beta</title>
    <link rel="stylesheet" th:href="@{/css/highlight.css}">

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <!-- Loogle Fonts Link For Icons -->
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <script th:src="@{/js/highlight.js}"></script>
    <script>hljs.highlightAll();</script>
    <script th:src="@{/js/marked.min.js}"></script>
    <script th:src="@{/js/scripts.js}" defer></script>
</head>
<body>

<div class="modalContainer" id="signInModal">
    <div class="modalContent">
        <button class="closeModal" onclick="closeSignInModal()">&times;</button>
        <div class="left-side"></div>
        <div class="right-side">
            <h1>Hi There!<br> Welcome to betGPT</h1>
            <button class="google-signin button btn-100"><span> <img src="/img/icons/google.png"/></span>Sign in with
                Google
            </button>
            <div class="separator"> or</div>
            <form>
                <input type="email" placeholder="Your Email" required>
                <input type="password" placeholder="Your Password" required>
                <div class="forgot-password">Forgot password?</div>
                <button type="submit" class="button btn-100 login-btn">Login</button>
            </form>
        </div>
    </div>
</div>

<div class="modalContainer" id="paymentModal">
    <div class="modalContent">
        <button class="closeModal" onclick="closePaymentModal()">&times;</button>
        <div class="left-side">
            <div class="top">
                <h1>Upgrade<br>Your Account</h1>
                <p>Unlimited Predictions. Ask anything, <br> and Tom will always answer</p>
            </div>
            <div class="bottom">
                <div class="plans">
                    <label class="plan basic-plan" for="basic">
                        <input checked type="radio" name="plan" id="basic"/>
                        <div class="plan-content">
                            <div class="plan-details">
                                <span>$24 / month</span>
                            </div>
                        </div>
                    </label>

                    <label class="plan complete-plan" for="complete">
                        <input type="radio" id="complete" name="plan"/>
                        <div class="plan-content">
                            <div class="plan-details">
                                <span>$200 / year</span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="feature-list">
                    <ul>
                        <li><span class="material-symbols-outlined">offline_pin</span>Ask sports game prediction
                        </li>
                        <li><span class="material-symbols-outlined">offline_pin</span> Ask sports game prediction</li>
                        <li><span class="material-symbols-outlined">offline_pin</span> Ask sports game prediction</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-side">
            <h1>Payment Details</h1>
            <div class="card-icons">
                <img src="/img/debit-card.png"/>
                <img src="/img/debit-card.png"/>
            </div>
            <div class="separator"> Card Information </div>
            <form>
                <label>Card Holder Name</label>
                <input type="text" placeholder="Name on Credit/debit card" required>
                <label>Card Card Number</label>
                <input type="number" placeholder="xxxx xxxx xxxx xxxx" required>
                <div style="display:flex;">
                    <div style="margin-right: 1rem">
                        <label>Expiry Date</label>
                        <div style="display: flex">
                            <input type="number" placeholder="MM" required style="margin-right: .5rem">
                            <input type="number" placeholder="YY" required>
                        </div>
                    </div>
                    <div>
                        <label>CVV</label>
                        <input type="password" placeholder="123" required>
                    </div>
                </div>
                <button type="submit" class="button btn-100 pay-btn">Pay Now</button>
            </form>
        </div>
    </div>
</div>

<nav>
    <div class="nav-container">
        <div class="nav-content">
            <div class="nav-title">
                <h1>betGpt</h1>
            </div>
            <div class="nav-buttons">
                <ul>
                    <li><a href="#" onclick="openSignInModal()" class="button button-secondary">Sign in</a></li>
                    <li><a href="#" onclick="openPaymentModal()" class="button button-primary">Upgrade</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="chat-container"></div>

<div class="typing-container">
    <div class="typing-content">
        <div class="typing-textarea">
          <textarea
                  id="chat-input"
                  placeholder="Golden State Warrior vs Oklahoma City Thunder, NBA, who would win?"
                  required
          ></textarea>
            <span id="send-btn" class="material-symbols-outlined">send</span>
        </div>
        <div class="typing-controls">
          <span id="theme-btn" class="material-symbols-outlined"
          >light_mode</span
          >
            <span id="delete-btn" class="material-symbols-outlined">delete</span>
        </div>
    </div>
</div>
</body>
</html>
